.product-search-container {
  width: 100%;
  height: 100%;
  margin-top: 1%;
}

.product-text {
  color: #ddd;
  text-align: center;
}

.product-search-card {
  width: 90%;
  height: 100%;
  margin: auto;

  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  overflow: visible;
}

.product-search-cardbody {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5%;
}

.product-search-card:hover {
  transform: none;
}
//////////////////////////////////////////////////////////////////////

// .search-filter-container-test{
//     display: flex;
//     align-items: center;

//     position: absolute;
//     height: 100%;
//     max-height: 610px;
//     left: 2%;
//     border: 1px solid #ddd;
//     border-radius: 20px;
//     // margin: 0px 15px;
//     // background-color: #ddd;

//     z-index: 20;

// }

.filter-open-button {
  position: absolute;
  // right: -17px;
  left: -18px;
  width: 35px;
  height: 120px;
  padding: 4px;
  margin: 0px;
  z-index: 3;
}

.search-filter-container-test {
  // this is stick version
  display: flex;
  position: sticky;
  align-items: center;

  height: 38rem;
  width: 3px;
  // max-height: 600px;
  left: -30px;
  top: 10%;
  border: 1px solid #ddd;
  border-radius: 20px;
  z-index: 1;
}

.search-filter-container-test-2 {
  // this is sticky version
  display: flex;
  position: absolute;
  align-items: center;

  height: inherit;
  max-height: 100%;
  width: 325px;
  // border: 1px solid #ddd;
  border-radius: inherit;
  z-index: 2;
}

///////////////////////////
.search-results-container {
  display: flex;
  // position: absolute;
  justify-content: space-around;
  // align-content:space-around;

  flex-wrap: wrap;
  overflow-y: scroll;

  height: 100%;
  width: 100%;
  // padding: 0rem 1rem;
  margin-left: 2rem;

  border: 1px solid #ddd;
  border-radius: 1rem;
  color: #ddd;
}

.search-results-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 1rem;
}
.search-results-container::-webkit-scrollbar-track {
  margin: 0.5rem 0px;
  overflow: hidden;
  padding: 5px 0px;
}

.search-results-container::-webkit-scrollbar-thumb {
  border: 4px solid rgba(184, 7, 7, 0.041);
  background-color: #ddd;
  border-radius: 5px;
}

////////////////////////
.search-page-pagination-container {
  margin: 2% auto;
  width: 50%;
  height: 20%;
  padding: 10px;

  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.pagination {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
}

.pagination__link {
  width: 100%;
  font-weight: bold;
}

.next {
  position: relative;
  height: fit-content;
  top: 11px;
  right: 15px;
  //   padding: 0px;
  //   margin: 0px;
}

.pagination__link--active a {
  color: #fff;
  background: #fff;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
