.directory-container{
  display: inline-block;
  width: 90%;
  // height: 100%;
  // vertical-align: middle;
  // justify-content: center;
  // align-items: center;
  // text-align: center;

}

.directory-title{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0px 5% 0px 5%;
  // vertical-align: middle;
  // text-align: center;
}

.title-card.card{
  // width: 500px;
  
  margin: 0%;
  justify-content: center;
  align-items: center;
  // vertical-align: middle;
  // text-align: center;

}

.directory-menu {
    width: 100%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    padding: 20px 5% 10px 5%;

    grid-template-columns: 4;

    gap: 0.6rem; //gap between boxes top 
    // grid-column-gap: 10px;
    // grid-row-gap: 10px;
    
    grid-template-columns: 1fr ;

  }

.card-title-text{
  // vertical-align: middle;
  // text-align: center;
  // justify-content: center;
  // margin: 0%;
  // display: block;
  line-height: 1.5%;
}

.category-title{
  // padding: 1%;

}

  @media screen and (min-width: 600px) {
    .directory-menu{
      grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
    }
  }


