.categories-filter-container{
    // height: 40%;
    border: solid #ddd 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0%;

}

.categories-collapsible{

}

.categories-collapsible-btn{
    color: #ddd;
    width: 100%;
    margin: -1px;

}

.paragraph{
    height: 100%;
}
