.collapsible-filter-container{
    // height: 40%;
    border: solid #ddd 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0%;
    margin: 5% 0%;

}

.collapsible-filter-btn{
    color: #ddd;
    width: 100%;
    margin: -1px;

}

.brand-item{
    padding: 0%;
    margin: 2% 0% 2% 7%;
    padding-right: 8%;
    color: #ddd;

}


.custom-control-input:checked~.custom-control-label::before{
    background-color: rgb(0, 228, 49);
    border-radius: 10px;


}


