.new-arrivals-card{
    height: 300px;
    width: auto;
    
}

.new-arrivals-card-background{
    height: 100%;
    border-radius: inherit;
}


@media screen and (max-width: 1000px) {
    .new-arrivals-card{
        height: 200px;

    }
}